rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{jobId} {
      allow read: if true;

      allow create: if request.auth != null
        && request.resource.data.postedBy.uid == request.auth.uid
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0;

      allow update: if request.auth != null
        && resource.data.postedBy.uid == request.auth.uid;

      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['savedBy']);

      allow update: if
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['views']);

      allow delete: if request.auth != null
        && resource.data.postedBy.uid == request.auth.uid;
    }
  }
}
